<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="Log\log-internal.txt">


	<variable name="logDirectory" value="${currentdir}\Log"/>
	<variable name="layout" value="[${level:uppercase=true}] [${date}]${when:when=length('${aspnet-mvc-action}') > 0:inner= [${aspnet-mvc-action}]}${when:when=length('${aspnet-request-url}') > 0:inner= [${aspnet-request-url}]} [${message}] at [${logger:shortName=true}]${when:when=length('${exception:format=tostring}') > 0:inner=${new-line}} ${when:when=length('${exception:format=tostring}') > 0:inner=${exception:format=tostring}} ${new-line} "/> 
  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

  <!-- the targets to write to -->
  <targets>
    <target xsi:type="File" name="allfile" fileName="${logDirectory}\${shortdate}-all.log" layout="${layout}" maxArchiveFiles="60"  />
    <target xsi:type="File" name="ownFile-web" fileName="${logDirectory}\${shortdate}-info.log" layout="${layout}"  maxArchiveFiles="60"/> 
    <target xsi:type="Console" name="lifetimeConsole" layout="${layout}" />
  </targets>

  <rules>
    <!--All logs, including from Microsoft-->
    <logger name="*" minlevel="Trace" writeTo="allfile" />
    <logger name="Microsoft.Hosting.Lifetime" minlevel="Info" writeTo="ownFile-web, lifetimeConsole" final="true" />
    <logger name="CalculatorService.*" minlevel="Trace" writeTo="ownFile-web, lifetimeConsole" final="true" />
  </rules>
</nlog>
